.clear{
    color: black;
        display: flex;
        height: 4em;
        flex:1;
        align-items:center;
        background-color:white;
        outline: 1px #888;
        justify-content: flex-end;
        padding: 0.5em;
        font-weight: lighter;
        font-size:1rem;
        align-items: center;
        text-align: center;
        align-content: center;
    }