@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&family=Modak&display=swap');
$primaryBtn : gray;
$primaryText : white; 
$primaryFont:'Big Shoulders Stencil Text', cursive;
