@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&family=Modak&display=swap");
button {
  font-family: 'Big Shoulders Stencil Text', cursive;
  letter-spacing: 2em;
  text-shadow: 1px 1px black;
  text-align: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: blue;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: gray;
  direction: column;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  direction: column;
  margin-top: 100px;
}

.clickme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: red;
  direction: column;
}

h1 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  letter-spacing: 1em;
  text-shadow: 2px 2px black;
  text-align: center;
  color: Blue;
  font-size: 72px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: white;
  color: gray;
  outline: 1px solid #888;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
  margin-left: 200px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.operator {
  background-color: #fe9241;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #000000;
  outline: 1px #888;
  color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clear {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  outline: 4px #888;
  padding: 0.5em;
  font-weight: lighter;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  border: 5px black;
}
/*# sourceMappingURL=calculator.css.map */